body{
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30vh;
        h1{
            font-weight: 700;
            font-size: 5rem;

        }
    }
    
}